/* .profile{
    margin: 4.8rem 0;
} */

.hero .intro { 
	text-align: center; 
	margin: 0 5rem; 
} 

.hero .intro-buttons { 
	margin: 2rem 0; 
	display: flex; 
	align-items: center; 
	justify-content: space-evenly; 
} 
#profileImg{
    background-image: url('../Images/about_us.png'); 
	background-repeat: no-repeat; 
	background-size: 100% 100%; 
	width: 50%; 
	height: 50vh; 
}
.first-btn, .second-btn{
    color: fuchsia;
    border-radius: 7px;
}
:hover.first-btn, :hover.second-btn{
    color: rgb(238, 255, 0);
    background-color: rgb(17, 134, 236);
}
.go-back{
    text-align: center;
    padding-top: 10px;
}
.go-back .go-back-btn{
    color: #070303;
    background-color: #ffb100;
    border: 2px solid gray;
    border-radius: 10px;
}