img {
	float: right;
	border: 1px dotted black;
	margin: 0px 0px 15px 20px;
  }
.about-heading{
	margin-left: 5vw;
	color: white;
}

.main{
	display: flex;
	margin-left: 5vw;
	color: white;
	font-size: large;

}
.about-content{
	width: 100%;
}
.about-content-text{
	width: 300px;
}
.about-content-img .img-1{
	position: relative;
    top: 25%;
}
.about-content-img .img-1 img{
	width: 300px;
	height: 200px;
}